$backGraund: #151515;
$textColor: #fcfcfc;

@mixin setFlex($flex-direction, $justify-content: center, $align-items: center) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}
