@use '@/app/variables' as *;

.header {
  position: relative;
  margin: auto;
  width: min(1280px, 95%);
  height: 120px;
  @include setFlex(row, space-between);

  &__title {
    @include setFlex(row);
    gap: 10px;
    font-size: 1rem;
  }
  &__menu {
    width: 22px;
    @include setFlex(column);
    gap: 5px;
    cursor: pointer;

    &--droped {
      position: absolute;
      padding: 40px;
      top: 60px;
      right: 0px;
      list-style: none;
      background-color: #000;
      box-shadow: 0px 0px 15px #000;
      display: flex;
      flex-direction: column;
      gap: 15px;
      border-radius: 10px;
      font-size: 1.25rem;
      z-index: 5;
    }
    &--off {
      opacity: 0;
      visibility: hidden;
    }
    &--on {
      opacity: 1;
      visibility: visible;
    }
  }
  &__item {
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
}
