@use '../variables.scss' as *;

.posts {
  margin: auto;
  margin-top: 40px;
  width: min(1280px, 95%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @media all and (width <= 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media all and (width <= 900px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media all and (width <= 600px) {
    grid-template-columns: 1fr;
  }
  gap: 25px;

  .post {
    width: 100%;
    @include setFlex(column, flex-start, flex-start);
    transition: 0.4s;

    &__trapeze {
      align-self: end;
      width: 125px;
      height: 20px;
      display: flex;
      justify-content: center;
      border-left: 30px solid transparent;
      border-right: 0px solid transparent;
      border-bottom: 20px solid $mainColor;
    }

    &__image {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
    &__title {
      margin: 8px 0px;
      font-size: 1.2rem;
      @include setClamp;
    }

    @media all and (width >= 1000px) {
      &:hover {
        scale: 1.02;
      }
    }
  }
}
