@use '../variables.scss' as *;

.posts {
  margin: auto;
  width: min(1280px, 98%);
  @include setFlex(row, flex-start);
  flex-wrap: wrap;
  gap: 40px;
}
.post {
  width: 400px;
  @include setFlex(column, flex-start, flex-start);

  &__date {
    align-self: flex-end;
    width: 125px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 20px solid $mainColor;
    display: flex;
    justify-content: center;
  }
  &__image {
    width: 400px;
    height: 500px;
    object-fit: cover;
  }
  &__title {
    margin: 10px 0px;
    font-size: 1.2rem;
    @include setClamp;
  }
}
