@use '../variables.scss' as *;

.todo {
  margin: auto;
  width: min(1280px, 95%);
  min-height: calc(100vh - 200px);
  @include setFlex(column, flex-start, center);
  gap: 60px;

  &__form {
    margin-top: 85px;
    width: min(500px, 95%);
    @include setFlex(column);
    gap: 10px;

    label {
      margin-bottom: 40px;
      font-size: 2.2rem;
      font-weight: bold;
    }
    input {
      padding: 6px 10px;
      width: 100%;
      border: 2px solid #000;
      border-radius: 15px;
      font-size: 1rem;
    }
  }
  &__submit {
    padding: 4px;
    width: 80%;
    border-radius: 15px;
    background-color: $main-color;
    color: $text-color;
    font-size: 1.1rem;
    border: 1px solid #000;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      color: #000;
      background-color: $text-color;
    }
  }
  &__list {
    padding: 0px;
    list-style: none;
    @include setFlex(column, center, flex-start);
    gap: 15px;

    li {
      @include setFlex(row);
      gap: 25px;
    }
    label {
      @include setFlex(row);
      gap: 20px;
      font-size: 1.5rem;
    }
    &--none {
      user-select: none;
      font-size: 1.5rem;
      color: #4d4d4d;
    }
  }
  &__checkbox {
    position: relative;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 25px;
      height: 25px;
      display: block;
      background-color: $text-color;
      border: 2px solid #000;
      border-radius: 10px;
    }
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 15px;
      height: 15px;
      display: block;
      background-color: $main-color;
      border-radius: 6px;
      scale: 0;
      transition: 0.1s scale;
    }
    &:checked::after {
      scale: 1;
    }
  }
  &__delete {
    @extend %btn;
  }
}
