@use './variables' as *;

//* Body
body {
  margin: 0px;
  background-color: $backGround;
  color: $white;
}
a {
  position: relative;
  text-decoration: none;
  color: inherit;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

//* Scrollbar
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

//* Main Page
.main-page {
  margin: auto;
  width: min(1280px, 95%);
  height: calc(100vh - 200px);
  @include setFlex(column);
  gap: 20px;

  &__title {
    text-align: center;
  }
}
