@use './variables' as *;

//* General Styles
body {
  margin: 0px;
  background-color: $background-color;
  color: $text-color;
}
a {
  position: relative;
  text-decoration: none;
  color: inherit;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

//* Scrollbar
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

//* Main Page
.main-page {
  margin: auto;
  width: min(1280px, 95%);
  height: calc(100vh - 200px);
  @include setFlex(column);

  &__logo {
    width: min(280px, 100%);
    animation: rotate 0.4s ease;
  }

  @keyframes rotate {
    0% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

//* Gallery Styles
.gallery__content {
  margin: 40px 0px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @media all and (width <= 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
  gap: 15px;

  &--image {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: 0.4s scale;

    @media all and (width >= 1000px) {
      &:hover {
        scale: 1.04;
      }
    }
  }
}
.gallery__image-max {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: #000000db;
  @include setFlex(row);
  gap: 25px;
  z-index: 99;
  user-select: none;

  img {
    width: min(600px, 80%);
    height: auto;
    border-radius: 5px;
    cursor: pointer;
  }
  button {
    @extend %btn;
  }
}
